<admin-panel-header></admin-panel-header>
<div class="wrapper" >
    <div class="container-fluid">
        <div class="row">
            <div>
                <div class="sidebar custom">
                    <sidebar></sidebar>
                </div>
            </div>

            <div class="childview">
                <div class="bodysetter">
                  
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="last-footer-2">
                <div class="Copyright col-sm-6">
                    Copyright © 2019, GenieCapture. All rights reserved
                </div>
                <div class="terms-of-use col-sm-6 text-right">
                    <a href="terms" target="_blank" id="link">Terms of Use </a>
                    <span class="space">| </span>
                    <a href="privacy-policy" target="_blank" id="link">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>