<div class="container how-it-works">
<h1 class="text-center">Exclusive Features</h1>
<div style="display:flex;flex-direction:row;justify-content: space-around;flex-wrap: wrap;">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3>Interactive Software Simulation</h3>
        <p> GenieCapture with its highly interactive software simulation can provide you an effective way to make learning captivating.</p>
        <p> Teachers set tracks for students to follow through, one missed step and you get reprimanded in the form of getting your errors shown in a new avatar; i.e. shown your mistakes to learn and improve without letting your entire class known
            unlike old-fashioned school.</p>
        <p> The user can easily learn and improve; hence no more failed attempts.</p>
        <p> Make it in One Go!</p>

</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <img  src="https://cloud.geniecapture.com/home/Interactive-Software-Simulation.gif" alt="Interactive-Software-Simulation" />
</div>
</div>


<div style="display:flex;flex-direction:row;justify-content: space-around;flex-wrap: wrap ;margin-top: 20px;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 xs-dp-none">
                <img src="https://cloud.geniecapture.com/home/video-simulation.gif" alt="Video Simulation" />
        
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Video Simulation</h3>
                <h4>Easily Integrated Tutorials</h4>
                <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                    <h6 class="record">I. Interactive Screen Recorder </h6>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>A recorder feature is a convenient tool designed for high-quality recording.</p>
                          <p>GenieCapture’s recorder enables you to record your voice without any flick slash swipe of your finger.</p>
                          <p>Accessible by users not inclined towards using hand-held devices.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                    <h6 class="record">II. Interactive WebCam Recorder </h6>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>WebCam of GenieCapture takes you one step ahead by providing you tech-induced facility to impart your knowledge to the world.</p>
                          <p>With its stand-alone recording feature, GenieCapture provides you means to create excellent e-learning tutorials.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                    <h6 class="record">III. Interactive Board Recorder</h6>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Digital board to capture the attention of your students in a world digitalized.</p>
                          <p>Board feature make the teacher-student interaction much more effective and efficient like never before.</p>
                          <p>Experience and assimilate ideas with technological enthusiasm.</p>
                        </mat-expansion-panel>
                      </mat-accordion>
        </div>
        </div>
        <div style="display:flex;flex-direction:row;justify-content: space-around;flex-wrap: wrap;margin-top: 20px;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h3>Responsive Project</h3>
                        <p>Fret not, whichever platform or device is in your usage currently, GenieCapture has the capability to capture all with its responsive orientation.</p>
                        <p> Plug-in and experience the GenieCapture assisting you in deploying advanced e-learning courses to facilitate workforce training.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <img src="https://cloud.geniecapture.com/home/Responsive-Project.gif" alt="Responsive Project" />
                </div>
                </div>
                
</div>


