<app-loader>
</app-loader>
<h1 mat-dialog-title>Edit your Credit Card Information</h1>
<form [formGroup]="form">
    <div mat-dialog-content class="dialog-layout">
        <mat-form-field>
            <input class="text_captilize" matInput type="text" placeholder="Nick Name" maxlength="12" formControlName="nick_name">
            <mat-error *ngIf="form.controls.nick_name.touched && form.controls.nick_name.invalid">
                <mat-error *ngIf="form.controls.nick_name.errors.required">
                    Nick name cannot be empty
                </mat-error>
                <mat-error *ngIf="form.controls.nick_name.errors.minlength">
                    Nick name must be atleast {{form.controls.nick_name.errors.minlength.requiredLength}} characters long.
                </mat-error>
                <mat-error *ngIf="form.controls.nick_name.errors.maxlength">
                    Nick name must be at atmost {{form.controls.nick_name.errors.maxlength.requiredLength}} characters long.
                </mat-error>
                <mat-error *ngIf="form.controls.nick_name.hasError('pattern')">
                    Nick Name must be only in Alphabet.
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Expiry Date (MM/YY)" [textMask]="{mask: mask ,keepCharPositions:true}" type="text" formControlName="cardexpiration1" #exp (change)="chek(exp.value)" (input)="VerifyDate(exp.value)">
            <mat-error *ngIf="form.controls.cardexpiration1.touched && form.controls.cardexpiration1.invalid">
                <mat-error *ngIf="form.controls.cardexpiration1.errors.required">
                    Expiry date cannot be empty
                </mat-error>
                <mat-error *ngIf="form.controls.cardexpiration1.hasError('pattern')">
                    Expiry date must be in MM/YY format.
                </mat-error>
            </mat-error>
            <mat-hint *ngIf="verifyDate" style="color:#f44336;margin-top: 4px;"> Invalid Date</mat-hint>

        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Street Address" maxlength="300" type="text" formControlName="str_add">
            <mat-error *ngIf="form.controls.str_add.touched && form.controls.str_add.invalid">
                <mat-error *ngIf="form.controls.str_add.errors.required">
                    Street address cannot be empty
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Zip Code" maxlength="5" type="text" formControlName="zip_code" #zipcode1 
            (ngModelChange)="zipcodeCheck(zipcode1.value)" #zipcode1   step="1" required (keydown.space)="$event.preventDefault()"
            >
            <mat-error *ngIf="form.controls.zip_code.touched && form.controls.zip_code.invalid">
                <mat-error *ngIf="form.controls.zip_code.errors.required">
                    Zip Code cannot be empty
                </mat-error>
                <mat-error *ngIf="form.controls.zip_code.hasError('pattern')">
                    Zip Code must be only in digits.
                </mat-error>
            </mat-error>
        </mat-form-field>
        <p class="clr_red" *ngIf="invalid  && !model.city && !model.state && !model.country">
            Invalid Zipcode
          </p>
          <p *ngIf="!invalid  && model.city && model.state && model.country">
          </p>
        <mat-form-field>
            <input class="text_captilize" matInput placeholder="City" type="text" formControlName="city" readonly [(ngModel)]="model.city">
         
        </mat-form-field>
     
        <mat-form-field>
            <input matInput placeholder="State" type="text" formControlName="state" readonly [(ngModel)]="model.state">
          
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Country" type="text" formControlName="country" readonly [(ngModel)]="model.country">
           
        </mat-form-field>
        <mat-slide-toggle [checked]="checked" (click)="setAsDefault(data.defalt)"> <span class="stay"> Enroll in Autopay - Set this card as recurring payment method</span></mat-slide-toggle>
    </div>
    <div mat-dialog-actions class="dialog-btn">
        <button mat-raised-button type="submit" cdkFocusInitial (click)="EditSavedAccount(data.id)" class="btn btn-rose" [disabled]="!form.valid || valid || verifyDate">Update</button>
    </div>
</form>