<section *ngIf="!pkgsub" id="pricing">
    <div class="headline" *ngIf="SaleOff">
      
      <div class="text-center take_advantage">
        <h2 class="color-red">Flash Sale - 50% Off only for a limited time. <br>
          Take advantage of this incredible offer NOW </h2>
        <h2>
          Our Unbeatable Pricing Model
        </h2>
    </div>
        <div class="Timer">
        
        </div>
    </div>
    <div class="text-center take_advantage ">
        <h2 class="color-red">Flash Sale - 50% Off only for a limited time. <br>
          Take advantage of this incredible offer NOW </h2>
          <countdown class="mainpagee" [text]="text" units="Days | Hours | Minutes | Seconds"  end="{{totaltime?.sale_timer}}"></countdown>
        <h2>
          Our Unbeatable Pricing Model
        </h2>
       
    </div>
  
    <div class="price container text-center">
        <!-- <div class="price"> -->
        <div class=" pricing-table2 premium wow animated bounceInUp  text-center" data-wow-delay="0.6s" *ngIf="!isright">

            <div class="single-pricing-2">
                <div id="top-btn">
                  <!-- <a *ngIf="!check_login(); else pkg0" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Select Plan</a> -->
                                      <a *ngIf="!check_login(); else pkg0" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Register Now</a>
                    <ng-template #pkg0>
                        <a (click)=" firststep('0')" class="btn btn-rose" title="Select Plan">Buy Now</a>
                    </ng-template>
                </div>
                <span class="plan-name text-center">
                        Free 7-Day Trial
                    </span>
                <div>
                    <img src="../assets/img/Free.png" alt="Free-Plan" width="300px">
                </div>
                <mat-list role="list" class="list">
                    <mat-list-item role="listitem">
                        <img src="../assets/img/Software-Simulator.png" alt="Software-Simulator">
                        <span>Interactive Software Simulator </span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/R-Content.png" alt="R-Content">
                        <span>Responsive Content Generator</span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/Video Record.png" alt="Video Record">
                        <span> Interactive Screen Recorder</span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/Board-Record.png" alt="Board-Record">
                        <span> Interactive Board Recorder</span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/Webcame.png" alt="Webcam">
                        <span> Interactive Webcam Recorder</span>
                    </mat-list-item>

                </mat-list>
                <span id="free">*Up to 5 Simulations/Recordings in Free Trial Plan </span>

                <div class="pricing2-button" style="margin-bottom:5px;">
                  <!-- <a *ngIf="!check_login(); else pkg0" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Select Plan</a> -->
                  
                                      <a *ngIf="!check_login(); else pkg0" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Register Now</a>
                    <ng-template #pkg0>
                        <a (click)=" firststep('0')" class="btn btn-rose" title="Select Plan">Buy Now</a>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class=" pricing-table2 featured wow animated bounceInUp" data-wow-delay="0.5s" *ngIf="!isright">
            <div class="single-pricing-2">
                <div id="top-btn">
                  <!-- <a *ngIf="!check_login(); else pkg1" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Select Plan</a> -->
                  
                                      <a *ngIf="!check_login(); else pkg1" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Register Now</a>
                    <ng-template #pkg1>
                        <a (click)=" firststep('1')" class="btn btn-rose" title="Select Plan">Buy Now</a>
                    </ng-template>
                </div>
                <span class="plan-name text-center">
                        Monthly Plan
                    </span>
                <div>
                    <img src="../assets/img/Monthly.png" style="max-height: 121px;" alt="Monthly-Plan" *ngIf="!SaleOff">
                </div>
                <mat-list role="list" class="list" id="list">
                    <mat-list-item role="listitem">
                        <img src="../assets/img/Software-Simulator.png" alt="Software-Simulator">
                        <span>Interactive Software Simulator </span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/R-Content.png" alt="R-Content">
                        <span>Responsive Content Generator</span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/Video Record.png" alt="Video Record">
                        <span> Interactive Screen Recorder</span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/Board-Record.png" alt="Board-Record">
                        <span> Interactive Board Recorder</span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/Webcame.png" alt="Webcam">
                        <span> Interactive Webcam Recorder</span>
                    </mat-list-item>

                </mat-list>
                <div class="pricing2-button">
                  <!-- <a *ngIf="!check_login(); else pkg1" [routerLink]="['/login/pricing/','buyProduct']" (click)="redirectToPricing()" class="btn btn-rose" title="Subscribe Package">Select Plan
                  </a> -->
                  <a *ngIf="!check_login(); else pkg1" [routerLink]="['/login/pricing/','buyProduct']" (click)="redirectToPricing()" class="btn btn-rose" title="Subscribe Package">Register Now
                  </a>
                    <ng-template #pkg1>
                        <a (click)=" firststep('1')" class="btn btn-rose" title="Select Plan">Buy Now</a>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class=" pricing-table2 premium wow animated bounceInUp  text-center" data-wow-delay="0.6s" *ngIf="!isright">
            <div class="single-pricing-2">
                <div id="top-btn">
                  <!-- <a *ngIf="!check_login(); else pkg4" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Select Plan</a> -->

                    <a *ngIf="!check_login(); else pkg4" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Register Now
                    </a>
                    <ng-template #pkg4>
                        <a (click)=" firststep('12')" class="btn btn-rose" title="Select Plan">Buy Now</a>
                    </ng-template>
                </div>
                <span class="plan-name text-center">
                        Yearly Plan
                    </span>
                <div>
                    <img src="../assets/img/Yearly.png" alt="Yearly-Plan" width="300px" *ngIf="!SaleOff">
                </div>
              
                <mat-list role="list" class="list" id="list">
                    <mat-list-item role="listitem">
                        <img src="../assets/img/Software-Simulator.png" alt="Software-Simulator">
                        <span>Interactive Software Simulator </span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/R-Content.png" alt="R-Content">
                        <span>Responsive Content Generator</span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/Video Record.png" alt="Video Record">
                        <span> Interactive Screen Recorder</span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/Board-Record.png" alt="Board-Record">
                        <span> Interactive Board Recorder</span>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <img src="../assets/img/Webcame.png" alt="Webcam">
                        <span> Interactive Webcam Recorder</span>
                    </mat-list-item>

                </mat-list>
                <div class="pricing2-button">
                  <!-- <a *ngIf="!check_login(); else pkg4" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Select Plan</a> -->
                                      <a *ngIf="!check_login(); else pkg4" [routerLink]="['/login/pricing/','buyProduct']" class="btn btn-rose" title="Subscribe Package">Register Now</a>
                    <ng-template #pkg4>
                        <a (click)=" firststep('12')" class="btn btn-rose" title="Select Plan">Buy Now</a>
                    </ng-template>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

</section>
<div *ngIf="pkgsub" data-wow-delay=".5s">

    <div class="row planSelect">
     
          <div class=" selected-plan">
              <div class="single-pricings ">
          
                <span class="plans text-center">
                  <span *ngIf="plan=='12'"> Yearly Plan </span>
                  <span *ngIf="plan=='1'"> Monthly Plan </span>
                  <span *ngIf="plan=='0'"> Free 7-Day Trial </span>
                </span>
                <div>
                  <img src="../assets/img/Yearly.png" alt="Yearly-Plan" width="300px" *ngIf="plan=='12'">
                  <img src="../assets/img/Monthlynew.png" alt="Monthly-Plan" width="300px" *ngIf="plan=='1'">
                  <img src="../assets/img/Free.png" alt="Free-Plan" width="300px" *ngIf="plan=='0'">
                </div>
                <mat-list role="list" class="list" id="list">
                  <mat-list-item role="listitem">
                    <img src="../assets/img/Software-Simulator.png" alt="Software-Simulator">
                    <span>Interactive Software Simulator </span>
                  </mat-list-item>
          
                  <mat-list-item role="listitem">
                    <img src="../assets/img/R-Content.png" alt="R-Content">
                    <span>Responsive Content Generator</span>
                  </mat-list-item>
          
                  <mat-list-item role="listitem">
                    <img src="../assets/img/Video Record.png" alt="Video Record">
                    <span> Interactive Screen Recorder</span>
                  </mat-list-item>
          
                  <mat-list-item role="listitem">
                    <img src="../assets/img/Board-Record.png" alt="Board-Record">
                    <span> Interactive Board Recorder</span>
                  </mat-list-item>
          
                  <mat-list-item role="listitem">
                    <img src="../assets/img/Webcame.png" alt="Webcam">
                    <span> Interactive Webcam Recorder</span>
                  </mat-list-item>
                  <span id="free" *ngIf="plan=='0'">*Up to 5 Simulations/Recordings in Free Trial Plan </span>
                </mat-list>
          
              </div>
            </div>
      
        <div class="right-section">
          <div class=" header-pricing">
            <div class="plan-type">
              <mat-form-field>
                <mat-select [(ngModel)]="valuee" [ngModelOptions]="{standalone: true}" (change)="selected($event)">
                  <mat-option *ngFor="let t of transactionTypes" [value]="t.value">
                    {{t.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="pricing-tenure-switcher center bottommargin-sm" data-container="#pricing-switch">
              <span class="pts-left" *ngIf="!isright" style="color: black">Saved Cards</span>
              <span class="pts-left" *ngIf="isright">Saved Cards</span>
              <div class="pts-switcher">
                <label class="switch">
                  <input [(ngModel)]="isright" id="switch-toggle-pricing-tenure" class="switch-toggle switch-toggle-round"
                    type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
              </div>
              <span class="pts-right" *ngIf="!isright">Add New Card</span>
              <span class="pts-right" *ngIf="isright" style="color: black">Add New Card</span>
            </div>
          </div>
    
          <mat-card class="layout mat-elevation-z7" *ngIf="isright">
            <div [className]="flipclass">
              <div class="flip">
                <div class="front">
                  <div class="chip"></div>
                  <div class="logo">
                    <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="47.834px" height="47.834px"
                      viewBox="0 0 47.834 47.834" style="enable-background:new 0 0 47.834 47.834;">
                    </svg>
                  </div>
                  <div class="card-holder" style="top: 29px;left: 230px;">
                    <label>Nickname</label>
                    <div>{{form.controls.nick_name.value}}</div>
                  </div>
                  <div class="card-holder">
                    <label>Card Number</label>
                    <div>{{form.controls.cardnumber.value}}</div>
                  </div>
                  <div class="card-expiration-date">
                    <label>Expiry Date</label>
                    <div>{{form.controls.cardexpiration.value}}</div>
                  </div>
                </div>
                <div class="back">
                  <div class="strip"></div>
                  <div class="logo">
                    <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="47.834px" height="47.834px"
                      viewBox="0 0 47.834 47.834" style="enable-background:new 0 0 47.834 47.834;">
                      <g>
                        <g>
    
                        </g>
                      </g>
                    </svg>
                  </div>
                  <div class="card-expiration-date">
                    <label>Expiry Date</label>
                    <div>{{form.controls.cardexpiration.value}}</div>
                  </div>
                  <div class="ccv">
                    <label>CVV</label>
                    <div>{{form.controls.cardcode.value}}</div>
                  </div>
                </div>
              </div>
            </div>
            <form [formGroup]="form" class="payment-card">
              <div class="isTrials spans">
                <span *ngIf="isTrial">Your credit card should be validated not charged.</span>
              </div>
              <div class="">
                <mat-form-field class="card-type">
                  <mat-select placeholder="Card Type" [formControl]="var_type_atm" (change)="ShowButton(var_type_atm.value)"
                    required>
                    <mat-option *ngFor="let card_get_datat of card_opeation" [value]="card_get_datat.value">
                      {{card_get_datat.viewValue}}</mat-option>
                  </mat-select>
                  <mat-error>
                    Card type cannot be empty
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="payment-row">
                <mat-form-field>
                  <input matInput type="text" [textMask]="{mask: cardmask}" placeholder="Credit Card Number"
                    formControlName="cardnumber" required>
                  <mat-error *ngIf="form.controls.cardnumber.touched && form.controls.cardnumber.invalid">
                    <mat-error *ngIf="form.controls.cardnumber.errors.required">
                      Card number cannot be empty
                    </mat-error>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput maxlength={{max}} minlength={{min}} type="password" placeholder="CVV"
                    formControlName="cardcode" class="pw" required>
                  <mat-error *ngIf="form.controls['cardcode'].invalid">
                    {{ cvvErrMsg() }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="payment-row">
                <mat-form-field>
                  <input matInput placeholder="Expiry Date (MM/YY)" [textMask]="{mask: mask ,keepCharPositions:true}"
                    type="text" formControlName="cardexpiration" #exp (change)="chek(exp.value)"
                    (input)="VerifyDate(exp.value)" required>
                  <mat-error *ngIf="form.controls['cardexpiration'].invalid">
                    {{ expDateErrMsg() }}
                  </mat-error>
                  <mat-hint *ngIf="verifyDate" style="color:#f44336"> Invalid Date</mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input  class="text_captilize" matInput placeholder="Street Address" maxlength="300" type="text"
                    formControlName="str_add" required>
                  <mat-error *ngIf="form.controls.str_add.touched && form.controls.str_add.invalid">
                    <mat-error *ngIf="form.controls.str_add.errors.required">
                      Street Address cannot be empty
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="payment-row zip">
                <div>
                  <mat-form-field>
                    <input matInput placeholder="Zip Code" maxlength="5" minlength=4 formControlName="zip_code" #zipcode1
                      required (ngModelChange)="zipcodeCheck(zipcode1.value)" #zipcode1 (keypress)="keyPress($event)"
                      step="1" required (keydown.space)="$event.preventDefault()">
                    <mat-error *ngIf="form.controls['zip_code'].invalid">
                      {{ zipCodeErrMsg() }}
                    </mat-error>
    
                  </mat-form-field>
                  <p class="clr_red" *ngIf="invalid  && !model.city && !model.state && !model.country">
                    Invalid Zipcode
                  </p>
                  <p *ngIf="!invalid  && model.city && model.state && model.country">
                  </p>
                </div>
                <div>
                  <mat-form-field>
                    <input class="text_captilize" matInput placeholder="City" type="text" formControlName="city" readonly
                      [(ngModel)]="model.city">
                  </mat-form-field>
                </div>
    
              </div>
              <div class="payment-row">
                <mat-form-field>
                  <input matInput placeholder="State" type="text" formControlName="state" readonly
                    [(ngModel)]="model.state">
    
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Country" type="text" formControlName="country" readonly
                    [(ngModel)]="model.country">
    
                </mat-form-field>
              </div>
              <div class="payment-row">
    
                <mat-form-field>
                  <input class="text_captilize" matInput type="text" placeholder="Nick Name" maxlength="12"
                    formControlName="nick_name" required>
                  <mat-error *ngIf="form.controls['nick_name'].invalid">
                    {{ nickNameErrMsg() }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input class="text_captilize" matInput type="text" placeholder="Cardholder Name"
                    formControlName="card_holder" required>
                  <mat-error *ngIf="form.controls['card_holder'].invalid">
                    {{ cardHolderErrMsg() }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <mat-slide-toggle [checked]="agent === 'true' ? true : false" (change)="setValue( agent, $event )">
                    <span class="stay"> Enroll in Autopay - Set this card as recurring payment method</span>
                  </mat-slide-toggle>
                </div>
                <div class="col-sm-12 text-center p-2">
                  <button mat-raised-button class="btn-submit" (click)="proceed()"
                    [disabled]="!form.valid || valid ||verifyDate">Place Order</button>
                  <app-loader>
                  </app-loader>
                </div>
              </div>
            </form>
          </mat-card>

          <div *ngIf="!isright" class="move-down payment-placeholder row">
              <div class="spanss spans">
                  <span *ngIf="isTrial">Your credit card should be validated not charged.</span>
                </div>
            <div class="col-sm-12">
                <form [formGroup]="defaultCards">
                    <mat-form-field class="pricing-select">
                      <mat-select [(ngModel)]="toSelect" [ngModelOptions]="{standalone: true}" required
                        formControlName="selectedCard" placeholder="Select method from list" (change)="cardSelected($event)"
                        required>
                        <mat-option *ngFor="let t of cardType" [value]="t">
                          {{t.nick_name}}
                        </mat-option>
                      </mat-select>
                      <mat-error style="margin-top:5px;">Select Card</mat-error>
                    </mat-form-field>
                      <app-loader>
                      </app-loader>
                   
                  </form>
            </div>
          
            <div class="col-sm-12 text-center p2">
                <button mat-raised-button class="btn-submit" (click)="placeOrder()"
                  [disabled]="!defaultCards.valid || valid">Place Order</button>
                </div>
              </div>
        </div>
    

    </div>

</div>