.background {
    width: 95%;
    max-width: 850px;
    height: 100%;
    background-image: url('../../../assets/img/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    .close-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: -22px -10px;
        .mat-icon {
            font-size: 18px;
            color: #000;
            font-weight: bold;
        }
    }
    .times {
        display: flex;
        justify-content: flex-start;
        margin: 280px 0px 0px 50px;
        .Timer {
            display: flex;
            flex-direction: row;
            padding: 2px 12px 5px;
            color: #fff;
            border-radius: 10px;
            width: 184px;
            height: 65px;
            align-items: center;
            .datetime {
                display: flex;
                border-radius: 5px;
                background-color: #000;
                flex-direction: column;
                -ms-flex-pack: center;
                justify-content: center;
                width: 40px;
                padding: 6px 33px;
                margin: 4px;
                -ms-flex-align: center;
                align-items: center;
                span {
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                }
                .time {
                    font-size: 24px;
                    color: #000;
                    background-color: #fff;
                    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
                    width: 50px;
                    padding: 8px;
                    font-weight: 500 !important;
                    border-radius: 3px;
                }
            }
        }
    }
    .footers {
        background: #dedede2e;
        color: #ccc;
        padding: 20px;
        width: 100%;
        margin-top: 10px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        button {
            background-color: #000;
            font-size: 20px;
            border-radius: 30px;
            color: #fff;
            font-weight: 600 !important;
            box-shadow: 0 14px 26px -12px rgba(0, 0, 0, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(156, 39, 176, .2);
        }
        button:hover {
            background-color: #c00;
            color: #fff;
        }
    }
}

@media(max-width:1024px) {
    .background {
        width: 100%;
        min-width: 750px;
        .times {
            margin: 230px 0px 0px 40px;
        }
    }
}