<section>
    <div class="who-bg-1 who-bg">
        <div class="container text-center" >
            <div >
                <h2>What is GenieCapture</h2>
                <p><strong >GenieCapture</strong> is a next-generation toolbox for authoring, refining, managing & consuming high-quality e-Learning content for your Training Audience.</p>
                <p>Unbeatable Pricing & the industry's most comprehensive Feature Set - One Platform: GenieCapture accelerates the business workforce and students by sharing knowledge and adopt software the Smart Way.</p>
                <p>Interactive Software & Video Simulations catalyze creation and consumption of Training Courses Content. Responsive Content Generation, Screen Capture, Interactive Board Recording, HQ Webcam Recording & a whole lot more culminate into a
                    360-degree toolbox for the creation of Interactive Training Courses & Knowledge Transfer Content.</p>
                <p>GenieCapture equips employees and students with smarter e-Learning content to accelerate their education targets and make software adoption more simpler and easier than ever before.</p>
                <p>Cutting to the chase, GenieCapture gives Interactive e-Learning Wings and makes Software Training Creation, Consumption and Adoption a breeze!</p>
            </div>
            <div class="text-center icon-div">
                <div class="left-border"></div>
                <i class="fa fa-square square-icon"></i>
                <div class="right-border"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="col-md-6">
                <div >
                    <h2>Who Are We?</h2>
                    <p>We, <strong >the engineers</strong> at <strong >GenieCapture</strong> have devised a next-generation toolbox for authoring &amp; consumption of Interactive e-Learning Content for your Training
                        Audience = BTW, we are very proud of our work!</p>
                </div>
            </div>
            <div class="col-md-6 what-is-geniecapture-img">
                <img class="" src="assets/images/who-2.png" alt=""  />
            </div>
        </div>
        <div class="row margin-0" >
            <div class="col-md-6 what-is-geniecapture-img tow" >
                <img src="assets/images/Ous-mission.png" alt="" class="whatImg" />
            </div>
            <div class="col-md-6">
                <div >
                    <h2>Our Mission</h2>
                    <p class="mgRight25">We believe that it’s high time that subjective and traditional approaches for online e-Learning are replaced with next-generation technologies. We have over 100+ years of combined experience in the High Tech Universe – In both
                        <strong > Hardware</strong> and <strong>Software</strong> domains. We incubate, accelerate and brood In-House and Community Products in Web, Mobile, Desktop, Machine Learning/Artificial
                        Intelligence &amp; IoT technologies. We are strong believers in next-generation automation and efficiency by harnessing the power of High Tech: We see next-generation technologies as a revolutionary toolbox that, will allow us
                        to empower organizations and people to make life simpler n’ easier.</p>
                </div>
            </div>
        </div>
    </div>

</section>