.layout{margin:20px 0;width:100%;border-radius:4px}.mat-card{padding:3px;border-radius:4px;justify-content:center;font-size:24px;padding:10px 5px;font-weight:700;margin-bottom:0}.btn-subscription{border-radius:30px;background-color:#cd0000;color:#fff;margin:5px 4px 5px 4px;font-weight:600!important}.row{margin:10px}.negative{color:#f80000;font-weight:700}.mat-card-content{border:1px solid #c3bebe}a{color:#0c6fc0!important} .mat-card-header .mat-card-title{
  font-size: 24px;
  margin: 0;
  color: #fff;
}
.mat-card-header {
  background-color: #000;
  border-radius: 2px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  padding: 10px 15px;
  font-weight: 700;
  margin-bottom: 0;
}