<!-- 
    
    <mat-card class="layout mat-elevation-z7">
    <mat-card-header >
        <mat-card-title>
                License Information
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="!noMethodSaved">
        <div *ngIf="labels">        
        <div class="row">
                    <p class="col-sm-6 text" > Subscription Type</p>
                    <p class="col-sm-6">{{pkg}}</p>
                </div>
                <div class="row">
                    <p class="col-sm-6 text"> Subscription Date</p>
                    <p class="col-sm-6">{{personal?.paymentdatetime}}</p>
                </div>
                <div class="row">
                    <p class="col-sm-6 text"> Valid Upto</p>
                    <p class="col-sm-6">{{personal?.enddate}}</p>
                </div>
                <div class="row">
                    <p class="col-sm-6 text"> License Key</p>
                    <p class="col-sm-6">{{personal?.licensekey}}</p>
                </div>
                <div class="row">
                    <p class="col-sm-6 text">License Key Status</p>
                    <p class="col-sm-6">{{status}}</p>
                </div>
            </div>
    </mat-card-content>
    <mat-card-content *ngIf="noMethodSaved">
        <div class="no_save_card" > 
            <span>No license is purchased yet. Please purchase a <a routerLink="/pricing">plan</a> to get the license key.</span>
          </div>
    </mat-card-content>
    
     -->