.inst-heading,
.inst-wrap,
.profile_info {
    text-align: center
}

.rfp-cat {
    max-height: 200px;
    overflow-y: auto
}

#accordion .panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #ddd;
    cursor: pointer;
    padding: 15px
}

#accordion .panel-heading .panel-title {
    font-size: 18px
}

.panel-body ul.rfp-cat li {
    min-height: 100px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    list-style-type: none;
    display: inline-block;
    width: 25%;
    float: left;
    vertical-align: top;
    padding: 10px 0 0;
    line-height: 25px;
    font-size: 14px;
    margin: 0
}

.panel-body ul li label {
    font-weight: 400;
    float: left;
    vertical-align: top;
    width: 85%;
    color: #000;
    line-height: normal
}

.panel-body ul li input[type=checkbox] {
    float: left;
    margin-top: 4px;
    margin-right: 5px
}

.panel-title .glyphicon {
    font-weight: 400;
    font-size: 12px;
    margin-top: 7px
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    border: none;
    text-align: center;
    background-color: #fff
}


.user-sidebar ul {
    padding: 70px 0 0
}

.user-sidebar ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-sidebar ul li a {
    font-size: 18px !important;
    color: #3b3b3b;
    font-weight: 600;
    padding: 9px 5px;
    display: block
}

.search-bg__btn,
.search-bg__text {
    display: inline-block;
    vertical-align: middle
}

.user-sidebar ul li a i {
    padding: 0 18px;
    font-size: 22px;
    font-weight: 600
}

.user-sidebar ul li a:hover {
    border-left: 5px solid #fff;
    background-color: #f5f5f5;
}

.active-route {
    background-color: #f5f5f5 !important;
    border-left: 5px solid
}

a {
    cursor: pointer;
}

.inst-img {
    width: 200px;
    height: 200px;
    margin: 0 auto
}

.inst-img img {
    max-width: 100%;
    height: 200px;
    border-radius: 50%
}

.inst-cont {
    max-width: 1000px;
    padding: 20px 0 0
}

.search-bg__text {
    font-size: 25px;
    background-color: #f7f7f7;
    border-radius: 22px 0 0 22px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 700px;
    height: 58px;
    padding: 10px 20px 10px 30px;
    color: #484747;
    font-weight: 900
}

.search-bg__btn {
    font-size: 20px;
    border: none;
    background: #f80000;
    color: #fff;
    padding: 15px 45px 15px 34px;
    -webkit-border-radius: 0 25px 25px 0;
    border-radius: 0 25px 25px 0;
    text-transform: uppercase;
    -webkit-transition: .5s all;
    transition: .5s all;
    min-height: 50px;
    font-weight: 700
}

.inst-heading,
.inst-mrg h3 {
    text-transform: capitalize;
    font-weight: 600
}

.inst-heading {
    background: #353535;
    border-radius: 10px;
    color: #fff;
    margin: 20px 0
}

.inst-mrg {
    margin: 10px 0;
    padding: 0 10px
}

.inst-mrg h3 {
    font-size: 24px
}

.inst-wrap:hover {
    box-shadow: 0 0 10px #ccc;
    transition: .3s ease-in-out
}

.inst-wrap:hover h3 {
    color: #f80000
}

.example-container {
    top: 20px;
    bottom: 60px;
    left: 30px;
    right: 0
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    -webkit-box-align: center !important
}

.dp-inline {
    display: inline
}

.dp-inline .fa-bars {
    font-size: 22px
}

.fa-arrows-h {
    font-size: 26px
}

.sidebar-holder {
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1
}

.side-content {
    position: relative;
    width: calc(100% - 250px);
    min-height: 100vh;
    padding: 40px 0 120px;
    float: right
}

.side-content .page-title {
    margin: 0 0 20px
}

.sidebar-admin {
    padding: 0;
    background: #fff;
    min-height: 100%;
    color: #000
}

.alert.alert-with-icon {
    margin-top: 20px
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.margin-0 {
    margin: 0
}

.center-admin-form {
    margin: 0 auto;
    float: none
}

.profile_info {
    padding: 10px
}

.profile_info>h2 {
    font-weight: 600 !important;
    margin: 0;
    font-size: 26px
}

.profile_info>h3 {
    cursor: pointer;
    margin: 0 !important;
    font-size: 22px !important;
    font-weight: 600 !important
}

.cstm-toggle-button {
    width: 37px;
    height: 77px;
    background: #000 !important;
    margin: 0;
    padding: 14px;
    position: fixed
}

.mat-drawer-container {
    position: static
}

.pose-rlt {
    position: relative;
    padding: 0
}

.mat-drawer {
    position: fixed;
    top: 72px;
    background: 0 0
}

@media (max-width: 1024px) {
    .user-sidebar ul li a i {
        padding: 0 10px;
        font-size: 16px;
    }
    .user-sidebar ul li a {
        font-size: 16px !important;
    }
}

@media (max-width: 992px) {
    .sidebar-holder {
        /* width: 230px; */
        display: none;
    }
}