<h1 class="text-center">Recordings</h1>

<div class="images">
    <div class="text-center images-2">
        <img src="assets/slides/1.jpg">
        <img src="assets/slides/1.jpg">
        <img src="assets/slides/1.jpg">
    </div>
</div>
<div class="images">
    <div class="text-center images-2">
        <img src="assets/slides/1.jpg">
        <img src="assets/slides/1.jpg">
        <img src="assets/slides/1.jpg">
    </div>
</div>
<div class="images">
    <div class="text-center images-2">
        <img src="assets/slides/1.jpg">
        <img src="assets/slides/1.jpg">
        <img src="assets/slides/1.jpg">
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="assets/slides/1.jpg">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="assets/slides/1.jpg">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="assets/slides/1.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="assets/slides/1.jpg">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="assets/slides/1.jpg">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="assets/slides/1.jpg">
        </div>
    </div>
</div> -->