<form [formGroup]="register" class="reset-pass-palceholder" *ngIf="status">
    <div class="move-down">
        <mat-card class="layout">
            <mat-card class="title">
                <h3> Reset Password</h3>
            </mat-card>
            <mat-form-field>
                <input matInput type="password" formControlName="password" placeholder="New Password" [type]="newpasshide ? 'password' : 'text'" required>
                <mat-error *ngIf="register.controls.password.value == ''">
                    <strong>Please provide new password</strong>
                </mat-error>
                <mat-icon matSuffix (click)="newpasshide = !newpasshide">{{newpasshide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="register.controls.password.hasError('pattern')">
                    <strong>At least one uppercase letter,one lowercase letter, one number & one special character</strong>
                </mat-error>

            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password" [type]="confirmpasshide ? 'password' : 'text'" required>
                <mat-icon matSuffix (click)="confirmpasshide = !confirmpasshide">{{confirmpasshide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="(register.controls.confirmPassword.value != register.controls.password.value) && (register.controls.confirmPassword.value !='')">
                    <strong>
                        Password does not match 
                                    </strong>
                </mat-error>
                <mat-error *ngIf="(register.controls.confirmPassword.value =='')">
                    <strong>
                            Please provide confirm password
                            </strong>
                </mat-error>
            </mat-form-field>
            <button mat-button type="submit" class="btn-submit" [disabled]="!register.valid" (click)="onForget()">Submit</button>


        </mat-card>
    </div>
</form>

<mat-card *ngIf="!status" class="container mat-elevation-z8">
    {{message}}
</mat-card>