<section id="f-c">
        <div class="container container-wide">
            <h2 class="text-center">Why GenieCapture?</h2>
            <p class="text-center unbeatPara" ><strong >Unbeatable Pricing</strong> & the industry's most comprehensive Feature Set - One Platform: GenieCapture accelerates the business workforce and students by sharing knowledge and adopt software the Smart Way.</p>

            <div class="com-table">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Features</th>
                            <th class="text-center">GenieCapture</th>
                            <th class="text-center">Ancile uPerform &reg;</th>
                            <th class="text-center">Adobe Captivate &reg;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Interactive Software Simulator</strong></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            <td class="text-center"><i class="fa fa-times"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Interactive Video Simulator</strong></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            <td class="text-center"><i class="fa fa-times"></i></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Responsive Content Generator</strong></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>					
                            <td class="text-center"><i class="fa fa-times"></i></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong> Interactive Video Recorder</strong></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Interactive Board Recorder</strong></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            <td class="text-center"><i class="fa fa-times"></i></td>
                            <td class="text-center"><i class="fa fa-times"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Interactive Webcam Recorder</strong></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            <td class="text-center"><i class="fa fa-times"></i></td>
                            <td class="text-center"><i class="fa fa-times"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>